<c-col xs="12">
  <c-card class="mb-4">
    <c-card-body>
      <form cForm class="row g-3">
        <div class="col-auto">
          <a cButton [routerLink]="['/member-enquiry/add']" color="primary" role="button">Create Member Enquiry</a>
        </div>
      </form>
    </c-card-body>
  </c-card>
</c-col>
<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <c-col md="3" class="mb-4 flex justify-content-md-end">
          <input
            cFormControl
            id="memberEnquirySearch"
            (input)="search()"
            [(ngModel)]="searchTerm"
            type="search"
            placeholder="Search member enquiries"
          />
        </c-col>

        <table [hover]="true" [striped]="true" [bordered]="true" cTable>
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Date</th>
              <th scope="col">Plan</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Town</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enquiry of paginatedMemberEnquiryList; let i = index">
              <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ enquiry.memberEnquiryDate | date:'mediumDate' }}</td>
              <td>{{ enquiry.memberEnquiryPlan }}</td>
              <td>{{ enquiry.memberEnquiryFirstName }} {{ enquiry.memberEnquiryLastName }}</td>
              <td>{{ enquiry.memberEnquiryPhoneNumber }}</td>
              <td>{{ enquiry.memberEnquiryEmail }}</td>
              <td>{{ enquiry.memberEnquiryTown }}</td>
              <td>
                <a
                  cButton
                  [routerLink]="['/member-enquiry/update', enquiry.id]"
                  color="btn-transparent"
                  role="button"
                  class="btn-sm text-primary border-0 py-0"
                  [cTooltip]="tooltipEditText"
                  cTooltipPlacement="top"
                >
                  <svg [cIcon]="icons.cilPen" size="xl" title="Edit"></svg>
                </a>
                <a
                  cButton
                  (click)="deleteMemberEnquiry(enquiry.id)"
                  color="btn-transparent"
                  role="button"
                  class="btn-sm text-danger border-0 py-0"
                  [cTooltip]="tooltipDeleteText"
                  cTooltipPlacement="top"
                >
                  <svg [cIcon]="icons.cilTrash" width="25" title="Delete"></svg>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <c-pagination
          aria-label="Page navigation"
          *ngIf="totalPages > 1"
        >
          <c-page-item>
            <a
              cPageLink
              (click)="previousPage()"
              [attr.aria-disabled]="currentPage === 1"
            >
              Previous
            </a>
          </c-page-item>
          <c-page-item *ngFor="let page of pageRange">
            <a
              cPageLink
              (click)="changePage(page)"
              [ngClass]="{'active': currentPage === page}"
            >
              {{ page }}
            </a>
          </c-page-item>
          <c-page-item>
            <a
              cPageLink
              (click)="nextPage()"
              [attr.aria-disabled]="currentPage === totalPages"
            >
              Next
            </a>
          </c-page-item>
        </c-pagination>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
